---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
  xmlns:video="http://www.google.com/schemas/sitemap-video/1.1"
>
{%- for page in collections.all %}
  {% set absoluteUrl %}{{ page.url | htmlBaseUrl(site.url) }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
		{% if page.url == '/feed/' %}
    <lastmod>{{ collections.article | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    {% elif page.url == '/penumbra/' or page.url == '/penumbra/journal/' %}
    <lastmod>{{ collections.penumbra | getNewestCollectionItemDate | dateToRfc3339 }}</lastmod>
    {% elif page.data.lastModified %}
    <lastmod>{{ page.data.lastModified }}</lastmod>
    {% else %}
    <lastmod>{{ page.date | dateToRfc3339 }}</lastmod>
		{% endif %}
    {%- if page.data.vod %}
    <video:video>
      <video:thumbnail_loc>https://vod.limulus.net/{{ page.data.vod.id }}/poster.jpeg</video:thumbnail_loc>
      <video:title>{{ page.data.title }}</video:title>
      <video:description>{{ page.data.subhead or page.data.teaser }}</video:description>
      <video:content_loc>https://vod.limulus.net/{{ page.data.vod.id }}/index.m3u8</video:content_loc>
      <video:publication_date>{{ page.date | dateToRfc3339 }}</video:publication_date>
      <video:duration>{{ page.data.vod.duration }}</video:duration>
      <video:requires_subscription>no</video:requires_subscription>
      <video:live>no</video:live>
    </video:video>
    {% endif %}
  </url>
{%- endfor %}
</urlset>
