@font-face {
  font-family: 'Mona Sans';
  src:
    url('/assets/fonts/mona-sans.6d7565f0.woff2') format('woff2 supports variations'),
    url('/assets/fonts/mona-sans.6d7565f0.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
}

@font-face {
  font-family: 'Monaspace Neon';
  src:
    url('/assets/fonts/monaspace-neon.9891d73f.woff2') format('woff2 supports variations'),
    url('/assets/fonts/monaspace-neon.9891d73f.woff2') format('woff2-variations');
  font-weight: 200 800;
  font-display: swap;
}

/**
 * Fix variable font inheritance:
 * https://pixelambacht.nl/2019/fixing-variable-font-inheritance/
 */
:root {
  --var-font-wght: 400;
  --var-font-slnt: 0;
}
* {
  font-variation-settings:
    'wght' var(--var-font-wght),
    'slnt' var(--var-font-slnt);
}
body {
  font-family: 'Mona Sans', sans-serif;
  --var-font-wght: 400;
  --var-font-slnt: 0;
}
i,
em {
  --var-font-slnt: -10;
  font-synthesis: none;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  --var-font-wght: 700;
  font-synthesis: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
header nav {
  font-stretch: semi-expanded;
}

:root {
  --body-padding: 2rem;
  --body-max-width: 55rem;
  --card-background-color: #f6f6f6;
  --card-border: var(--hairline-pixels) solid var(--card-border-color);
  --card-border-color: #999;
  --card-border-radius: 0.66666rem;
  --card-box-shadow: 0 0 0.2rem var(--card-box-shadow-color);
  --card-box-shadow-color: rgba(0, 0, 0, 0.2);
  --card-padding: 0.75rem 1rem;
  --hairline-pixels: 1px;
}

html {
  background-color: #f3f3f3;
  color: #333;
  font-size: 18px;
  line-height: 1.6;
  overflow-y: scroll;
}
body {
  margin: 0 auto;
  max-width: var(--body-max-width);
  padding: 0 var(--body-padding) var(--body-padding) var(--body-padding);
}

a {
  color: #333;
}
a:visited {
  color: inherit;
}
a:active {
  color: #777;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.visually-hidden:focus {
  position: absolute;
}

h1:first-of-type {
  margin-top: 0;
}

body > header {
  /* padding: 0 0 1rem 0; */
  font-size: 1rem;
  --var-font-wght: 700;
  font-synthesis: none;
}

body > header nav {
  display: flex;
}
body > header nav li {
  display: inline-block;
  text-wrap: nowrap;
}
body > header nav li::after {
  content: '/';
  margin: 0 0.5em;
}
body > header nav ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

code {
  font-family: 'Monaspace Neon', monospace;
  /**
   * Need to put this here instead of @font-face due to a bug in Chromium:
   * https://bugs.chromium.org/p/chromium/issues/detail?id=443467
   */
  font-feature-settings: 'calt', 'dlig', 'ss01', 'ss02', 'ss03', 'ss04', 'ss05', 'ss06',
    'ss07', 'ss08';
  font-size: 0.95em;
}

p code {
  padding: 0.33333rem 0.5rem;
  border-radius: 0.66666rem;
  background-color: var(--card-background-color);
}

pre > code.hljs {
  display: block;
  overflow-x: auto;
  padding: var(--card-padding);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background-color);
  line-height: 1.5;
  font-size: 0.8rem;
}

article p {
  text-wrap-style: pretty;
}

figure {
  margin: 0;
}

sphere-shadow::part(hud-label) {
  font-family: 'Mona Sans', sans-serif;
}

sphere-shadow::part(hud-value) {
  font-family: 'Monaspace Neon', monospace;
  font-size: 0.9em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --card-background-color: #20212c;
    --card-border-color: #444;
    --card-box-shadow-color: rgba(0, 0, 0, 0.7);
  }

  html {
    background-color: rgb(13, 17, 23);
    color: rgb(201, 209, 217);
  }

  a {
    color: rgb(201, 209, 217);
  }
  a:active {
    color: #bbb;
  }
}

@media (max-width: 599px) {
  :root {
    --card-padding: 0.5rem 0.75rem;
  }

  html {
    font-size: 20px;
  }

  body {
    --body-padding: 1rem;
  }
}

@media (min-resolution: 2dppx) {
  :root {
    --hairline-pixels: 0.5px;
  }
}
